/.env
/.vs/
/artifacts/
/build/
/testbed/cache/
/testbed/logs/
/testbed/runtime/
/tools/HlConfigEditorCpp/bin/
/tools/HlConfigEditorCpp/obj/
/tmp/
/__upstream_halflife/

*.VC.db
*.VC.opendb
*.cache
*.ipch
*.obj
*.pdb
*.user
*.suo

CMakeUserPresets.json
